<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dao.IClassificationgoodsDao" >
  <resultMap id="BaseResultMap" type="cn.pojo.Classificationgoods" >
    <id column="cgid" property="cgid" jdbcType="INTEGER" />
    <result column="cgtype" property="cgtype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cgid, cgtype
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.pojo.ClassificationgoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from classificationgoods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from classificationgoods
    where cgid = #{cgid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from classificationgoods
    where cgid = #{cgid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.pojo.ClassificationgoodsExample" >
    delete from classificationgoods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.pojo.Classificationgoods" >
    insert into classificationgoods (cgid, cgtype)
    values (#{cgid,jdbcType=INTEGER}, #{cgtype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.pojo.Classificationgoods" >
    insert into classificationgoods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cgid != null" >
        cgid,
      </if>
      <if test="cgtype != null" >
        cgtype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cgid != null" >
        #{cgid,jdbcType=INTEGER},
      </if>
      <if test="cgtype != null" >
        #{cgtype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.pojo.ClassificationgoodsExample" resultType="java.lang.Integer" >
    select count(*) from classificationgoods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update classificationgoods
    <set >
      <if test="record.cgid != null" >
        cgid = #{record.cgid,jdbcType=INTEGER},
      </if>
      <if test="record.cgtype != null" >
        cgtype = #{record.cgtype,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update classificationgoods
    set cgid = #{record.cgid,jdbcType=INTEGER},
      cgtype = #{record.cgtype,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.pojo.Classificationgoods" >
    update classificationgoods
    <set >
      <if test="cgtype != null" >
        cgtype = #{cgtype,jdbcType=VARCHAR},
      </if>
    </set>
    where cgid = #{cgid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.pojo.Classificationgoods" >
    update classificationgoods
    set cgtype = #{cgtype,jdbcType=VARCHAR}
    where cgid = #{cgid,jdbcType=INTEGER}
  </update>
</mapper>