<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dao.IPrerogativeDao" >
  <resultMap id="BaseResultMap" type="cn.pojo.Prerogative" >
    <id column="pgid" property="pgid" jdbcType="INTEGER" />
    <result column="pgtype" property="pgtype" jdbcType="VARCHAR" />
    <result column="pgcontent" property="pgcontent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pgid, pgtype, pgcontent
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.pojo.PrerogativeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prerogative
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from prerogative
    where pgid = #{pgid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from prerogative
    where pgid = #{pgid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.pojo.PrerogativeExample" >
    delete from prerogative
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.pojo.Prerogative" >
    insert into prerogative (pgid, pgtype, pgcontent
      )
    values (#{pgid,jdbcType=INTEGER}, #{pgtype,jdbcType=VARCHAR}, #{pgcontent,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.pojo.Prerogative" >
    insert into prerogative
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pgid != null" >
        pgid,
      </if>
      <if test="pgtype != null" >
        pgtype,
      </if>
      <if test="pgcontent != null" >
        pgcontent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pgid != null" >
        #{pgid,jdbcType=INTEGER},
      </if>
      <if test="pgtype != null" >
        #{pgtype,jdbcType=VARCHAR},
      </if>
      <if test="pgcontent != null" >
        #{pgcontent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.pojo.PrerogativeExample" resultType="java.lang.Integer" >
    select count(*) from prerogative
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update prerogative
    <set >
      <if test="record.pgid != null" >
        pgid = #{record.pgid,jdbcType=INTEGER},
      </if>
      <if test="record.pgtype != null" >
        pgtype = #{record.pgtype,jdbcType=VARCHAR},
      </if>
      <if test="record.pgcontent != null" >
        pgcontent = #{record.pgcontent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update prerogative
    set pgid = #{record.pgid,jdbcType=INTEGER},
      pgtype = #{record.pgtype,jdbcType=VARCHAR},
      pgcontent = #{record.pgcontent,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.pojo.Prerogative" >
    update prerogative
    <set >
      <if test="pgtype != null" >
        pgtype = #{pgtype,jdbcType=VARCHAR},
      </if>
      <if test="pgcontent != null" >
        pgcontent = #{pgcontent,jdbcType=VARCHAR},
      </if>
    </set>
    where pgid = #{pgid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.pojo.Prerogative" >
    update prerogative
    set pgtype = #{pgtype,jdbcType=VARCHAR},
      pgcontent = #{pgcontent,jdbcType=VARCHAR}
    where pgid = #{pgid,jdbcType=INTEGER}
  </update>
</mapper>